@font-face {
  src: url('../fonts/RalewayLight.woff');
  font-family: Raleway;
  font-weight: 300;
}

@font-face {
  src: url('../fonts/RalewayRegular.woff');
  font-family: Raleway;
  font-weight: 400;
}

@font-face {
  src: url('../fonts/RalewayMedium.woff');
  font-family: Raleway;
  font-weight: 500;
}

@font-face {
  src: url('../fonts/RalewaySemiBold.woff');
  font-family: Raleway;
  font-weight: 600;
}

@font-face {
  src: url('../fonts/RalewayBold.woff');
  font-family: Raleway;
  font-weight: 700;
}

@font-face {
  src: url('../fonts/RalewayBlack.woff');
  font-family: Raleway;
  font-weight: 900;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}


/*
  Main code
*/

.cr-top {
  display: block;
  background: url('../images/bg_1.jpg') no-repeat center;
  background-size: cover;
}

.cr-header {
  display: block;
  padding: 25px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__mobile {
    display: inline-flex;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
    img {
      max-width: 100%;
    }
  }
  &__row {
    display: inline-flex;
    align-items: center;
    &>img {
      display: inline-block;
      margin-right: 14px;
    }
  }
  &__phone {
    display: block;
    margin-bottom: 6px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__email {
    display: block;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
  }
  &__link {
    display: block;
    margin-bottom: 6px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__number {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  p {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    font-weight: 400;
  }
  strong,
  b {
    font-weight: 700;
  }
}

.cr-nav {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  &__droper {
    position: relative;
    &:hover {
      .cr-nav__drop {
        display: block !important;
      }
    }
  }
  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    margin: 0;
    padding: 8px 0;
    list-style: none;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    li {
      display: block !important;
      a {
        display: block;
        width: 100%;
        margin: 0 !important;
        padding: 12px 24px !important;
        border: none !important;
      }
    }
  }
  &__this {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    &_active {
      border-color: #ffffff !important;
    }
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin: 0 12px;
        margin-bottom: -1px;
        padding: 24px 0;
        border-bottom: 2px solid transparent;
        color: #ffffff;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: #ffffff;
          opacity: 0.8;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.cr-carousel {
  display: block;
  width: 100%;
  max-width: 600px;
  &__container {
    padding: 150px 0 130px 0;
  }
  &__card {
    display: block;
    &-title {
      display: block;
      height: 96px;
      margin-bottom: 20px;
      overflow: hidden;
      color: #ffffff;
      font-family: Raleway;
      font-size: 40px;
      font-weight: 700;
    }
    p {
      display: block;
      height: 46px;
      margin-bottom: 35px;
      overflow: hidden;
      color: #ffffff;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.3;
    }
    &-button {
      display: inline-block;
      padding: 16px 55px;
      border-radius: 3px;
      border: 1px solid rgba(248, 164, 43, 0.67);
      background-color: transparent;
      color: #ffffff;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: #ffc600;
        background-color: #ffc600;
        color: #000000;
        text-decoration: none;
      }
    }
  }
  .slick-dots li button::before {
    content: '';
    width: 14px;
    height: 14px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: transparent;
  }
  .slick-dots li.slick-active button:before {
    background: #ffffff;
  }
  .slick-dots {
    position: relative;
    bottom: auto;
    margin-top: 40px;
    text-align: left;
  }
}

.cr-about {
  display: block;
  padding: 85px 0 60px 0;
  background: url('../images/bg_2.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 35px;
    color: #000000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 760px;
    margin: 0 auto 55px auto;
    text-align: center;
    color: #000000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    margin: 0 0 30px 0;
    text-align: center;
    &-title {
      display: block;
      margin-bottom: 10px;
      color: #010101;
      font-size: 14px;
      font-weight: 900;
      text-transform: uppercase;
    }
    p {
      display: block;
      max-width: 200px;
      color: #000000;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.29;
    }
    img {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin-bottom: 22px;
      object-fit: contain;
    }
  }
}

.cr-service {
  display: block;
  padding: 90px 0 60px 0;
  background: #f7f7f7;
  &__title {
    display: block;
    margin-bottom: 50px;
    color: #000000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 260px;
    height: 265px;
    margin: 0 0 27px 0;
    overflow: hidden;
    box-shadow: 0 12px 71px 38px rgba(0, 0, 0, 0.05);
    background-color: #f2f2f2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      text-decoration: none;
      .cr-service__card-title {
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0;
        padding: 20px;
        background-color: #ffc600;
        background-image: linear-gradient(-120deg, #ffc600 0%, #ff9c00 100%);
        opacity: 0.8;
        color: #000000;
        font-weight: 700;
        text-align: center;
      }
    }
    &-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      max-width: 245px;
      min-height: 70px;
      margin-top: 80px;
      padding: 4px 12px 4px 45px;
      background-color: rgba(0, 0, 0, 0.8);
      color: #ffffff;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.3;
      text-align: left;
      transition: all 0.15s ease-out;
    }
    &-other {
      display: block;
      margin: 45px auto auto auto;
      color: #000000;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      transition: all 0.15s ease-out;
    }
  }
}

.cr-creators {
  display: block;
  padding: 95px 0 65px 0;
  background: url('../images/brothers.jpg') no-repeat center bottom;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 18px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 2.13;
    text-transform: uppercase;
  }
  &__who {
    display: block;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  p {
    display: block;
    margin-bottom: 25px;
    opacity: 0.65;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
  }
}

.cr-quality {
  display: block;
  padding: 100px 0 70px 0;
  background: url('../images/bg_5.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 55px;
    color: #000000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__card {
    display: inline-block;
    width: 100%;
    max-width: 320px;
    margin-bottom: 25px;
    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: #000000;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.3;
      img {
        display: inline-block;
        margin-right: 20px;
      }
    }
    p {
      display: block;
      margin: 0;
      color: #000000;
      font-family: Raleway;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
    }
  }
}

.cr-seo {
  display: block;
  padding: 90px 0 70px 0;
  &__title {
    display: block;
    margin-bottom: 15px;
    color: #000000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
  }
  &__link {
    display: block;
    margin-bottom: 55px;
    color: #8f8f8f;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #000000;
      text-decoration: none;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
  }
  p {
    display: block;
    margin-bottom: 25px;
    color: #000000;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
  }
  strong,
  b {
    font-weight: 700;
  }
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 28px;
      padding-left: 45px;
      background: url('../images/icon_li.png') no-repeat left center;
      background-repeat: no-repeat;
      color: #000000;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.7;
    }
  }
}

.cr-why {
  display: block;
  padding: 100px 0 45px 0;
  background: url('../images/bg_7.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 75px;
    color: #000000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    align-items: center;
    flex: 1 1 50%;
    margin-bottom: 55px;
    padding-right: 20px;
    img {
      display: inline-block;
      margin-right: 18px;
      border-radius: 999rem;
      object-fit: cover;
    }
    p {
      display: block;
      margin: 0;
      color: #000000;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.3;
    }
    &-title {
      display: block;
      margin-bottom: 4px;
      color: #000000;
      font-size: 14px;
      font-weight: 900;
      line-height: 1.7;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
  }
}

.cr-gallery {
  display: block;
  padding: 100px 0 95px 0;
  background: url('../images/bg_3.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: center;
  }
  p {
    display: block;
    margin-bottom: 60px;
    color: #8f8f8f;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
  }
  &__cards {
    display: block;
    .slick-prev {
      top: 50%;
      bottom: auto;
      right: 100%;
      width: 21px;
      height: 39px;
      margin-left: -60px;
      z-index: 1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
    .slick-next {
      top: 50%;
      bottom: auto;
      left: 100%;
      width: 21px;
      height: 39px;
      margin-left: 60px;
      z-index: 1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
  &__card {
    display: block;
    width: 100%;
    height: 500px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.cr-reviews {
  display: block;
  padding: 95px 0;
  &__title {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: center;
  }
  &__text {
    display: block;
    margin-bottom: 40px;
    color: #8f8f8f;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
  }
  &__cards {
    display: block;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    .slick-prev {
      top: 30%;
      bottom: auto;
      right: 100%;
      width: 21px;
      height: 39px;
      margin-left: -60px;
      z-index: 1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
    .slick-next {
      top: 30%;
      bottom: auto;
      left: 100%;
      width: 21px;
      height: 39px;
      margin-left: 60px;
      z-index: 1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
    .slick-dots li button::before {
      opacity: 0.15;
      font-size: 14px;
    }
    .slick-dots li.slick-active button:before {
      opacity: 1;
      color: #ffc600;
    }
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    p {
      display: block;
      height: 207px;
      margin-bottom: 25px;
      overflow: hidden;
      color: #000000;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.7;
      text-align: center;
    }
    &-what {
      display: block;
      margin-bottom: 10px;
      color: #000000;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 400;
      strong,
      b {
        font-weight: 700;
      }
    }
    &-info {
      display: block;
      margin-bottom: 8px;
      opacity: 0.6;
      color: #000000;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
    }
    &-link {
      display: inline-block;
      margin-bottom: 10px;
      border-bottom: 1px solid #000000;
      color: #000000;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 700;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.cr-paper {
  display: block;
  padding: 100px 0;
  background: url('../images/bg_6.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: center;
  }
  &__cards {
    display: block;
    .slick-prev {
      top: 50%;
      bottom: auto;
      right: 100%;
      width: 21px;
      height: 39px;
      margin-left: -20px;
      z-index: 1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
    .slick-next {
      top: 50%;
      bottom: auto;
      left: 100%;
      width: 21px;
      height: 39px;
      margin-left: 20px;
      z-index: 1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
  &__card {
    display: inline-block;
    width: 180px !important;
    height: 250px;
    margin: 0 20px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.cr-contact {
  display: block;
  padding: 75px;
  background-color: #ffc600;
  background-image: linear-gradient(-120deg, #ff4800 0%, #ffc600 100%);
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: inline-block;
    width: 100%;
    max-width: 410px;
    &-title {
      display: block;
      margin-bottom: 24px;
      color: #000000;
      font-family: Raleway;
      font-size: 36px;
      font-weight: 400;
      strong,
      b {
        font-weight: 700;
      }
    }
    &-sub-title {
      display: block;
      margin-bottom: 18px;
      color: #000000;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 700;
    }
    &-time {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch;
      text-align: center;
      span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 65px;
        margin: 0 4px 6px 0;
        padding-bottom: 10px;
        border-radius: 5px;
        background-color: #ffffff;
        color: #000000;
        font-family: Raleway;
        font-size: 36px !important;
        font-weight: 700;
        line-height: 1;
        text-align: center;
      }
      &>div {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        color: #000000;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
  &__right {
    display: inline-block;
    width: 100%;
    max-width: 375px;
    &-title {
      display: block;
      margin-bottom: 8px;
      color: #ffffff;
      font-family: Raleway;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.25;
      text-align: center;
    }
    &-form {
      display: block;
      width: 100%;
      max-width: 375px;
       ::-webkit-input-placeholder {
        color: #000000;
      }
       ::-moz-placeholder {
        color: #000000;
      }
      /* Firefox 19+ */
       :-moz-placeholder {
        color: #000000;
      }
      /* Firefox 18- */
       :-ms-input-placeholder {
        color: #000000;
      }
      input {
        display: block;
        width: 100%;
        margin-bottom: 4px;
        padding: 22px 35px;
        border-radius: 10px;
        background-color: #ffffff;
        border: none;
        outline: none;
        color: #000000;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 300;
      }
      button {
        display: block;
        width: 100%;
        padding: 22px;
        box-shadow: 0 5px 0 #e38b00;
        border-radius: 10px;
        background-color: #ff9c00;
        border: none;
        outline: none;
        color: #ffffff;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          background: #e38b00;
          text-decoration: none;
        }
      }
    }
  }
  &__center {
    display: inline-block;
    max-width: 320px;
  }
}

.cr-map {
  display: block;
  width: 100%;
  height: 500px;
}

.cr-footer {
  display: block;
  padding: 25px 0;
  background: #595959;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
    img {
      max-width: 100%;
    }
  }
  &__row {
    display: inline-flex;
    align-items: center;
    &>img {
      display: inline-block;
      margin-right: 14px;
    }
  }
  &__phone {
    display: block;
    margin-bottom: 6px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__email {
    display: block;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
  }
  &__link {
    display: block;
    margin-bottom: 6px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__number {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  p {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    font-weight: 400;
  }
  strong,
  b {
    font-weight: 700;
  }
}

.cr-bottom {
  display: block;
  padding: 40px 0 45px 0;
  background: #4c4c4c;
  display: block;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 12px 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 4px 18px;
        color: #ffffff;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__aaccent {
    display: block;
    text-align: center;
    opacity: 0.6;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      color: #ffc600;
      text-decoration: none;
    }
  }
}

.cr-droper {
  display: none;
  margin-left: 30px;
  padding: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
    text-decoration: none;
  }
}

.cr-page {
  display: block;
  padding: 90px 0 60px 0;
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #000000;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: center;
  }
  &_bg {
    &_light {
      background: #f7f7f7;
    }
  }
}

.cr-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 18px 0;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    color: #ffffff;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    a {
      display: inline-block;
      color: #ffffff;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.3;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #ffc600;
        text-decoration: none;
      }
    }
    span {
      display: inline-block;
      margin: 0 15px;
    }
  }
}

.cr-article {
  display: block;
  color: #000000;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 15px auto;
    border-radius: 4px;
  }
  &__image {
    margin-bottom: 70px !important;
  }
  &__description {
    color: #000000;
    font-size: 16px;
    font-style: italic !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    text-align: center;
  }
  p {
    display: block;
    width: 100%;
    max-width: 730px;
    margin-bottom: 20px;
    color: #000000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin-bottom: 25px;
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    line-height: 1.2;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 14px;
  }
  ul {
    display: block;
    width: 100%;
    max-width: 540px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 28px;
      padding-left: 45px;
      background: url('../images/icon_li.png') no-repeat left center;
      background-repeat: no-repeat;
      color: #000000;
      font-family: Raleway;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7;
    }
  }
}

.cr-blog {
  display: block;
  padding-top: 30px;
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 30px;
    padding: 55px;
    box-shadow: 0 30px 40px #e4e4e4;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      opacity: 0.8;
      color: #000000;
      text-decoration: none;
    }
    &-title {
      display: block;
      margin-bottom: 40px;
      color: #000000;
      font-family: Raleway;
      font-size: 30px;
      font-weight: 700;
    }
    p {
      display: block;
      margin: 0;
      color: #000000;
      font-family: Raleway;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7;
    }
    &-desciption {
      display: inline-block;
      width: 100%;
      max-width: 780px;
    }
    img {
      display: inline-block;
      width: 100%;
      max-width: 270px;
      height: 240px;
      margin-right: 45px;
      object-fit: cover;
    }
  }
}

.cr-portfolio {
  display: block;
  &__card {
    display: inline-block;
    width: 100%;
    max-width: 244px;
    margin: 0 15px 60px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      .cr-portfolio__card-preview {
        display: flex !important;
      }
      text-decoration: none;
    }
    &-image {
      display: block;
      width: 100%;
      height: 200px;
      margin-bottom: 20px;
      background-position: center;
      background-size: cover;
    }
    &-title {
      display: block;
      width: 100%;
      max-width: 225px;
      margin: 0 auto;
      color: #000000;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.3;
    }
    &-preview {
      display: none;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 10px;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      transition: all 0.15s ease-out;
      p {
        display: block;
        margin: 32px 0 12px 0;
        color: #ffffff;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

.cr-price {
  display: block;
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  .table {
    box-shadow: 0 17px 40px #cecece;
    background-color: #ffffff;
    thead {
      tr {
        background-color: #fceb26;
        background-image: linear-gradient(to left, #ff4800 0%, #ffc600 100%);
        border: none;
        th {
          border: none;
          color: #ffffff;
          font-family: Raleway;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
    tbody {
      tr {
        box-shadow: 0 1px 0 #eeeeee;
      }
    }
  }
  .table td,
  .table th {
    padding: 20px 35px;
    color: #585856;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
  }
}