@media (max-width: 1199px) {}

@media (max-width: 991px) {
  .cr-header__logo {
    margin: 0;
  }
  .cr-header {
    padding: 15px 0;
  }
  .cr-nav__this li a {
    margin: 0 6px;
    padding: 8px 0;
  }
  .cr-carousel__container {
    padding: 20px 0;
  }
  .cr-carousel__card-title {
    font-size: 26px;
  }
  .cr-about {
    padding: 20px 0 0 0;
    &__title {
      margin-bottom: 20px;
    }
  }
  .cr-about__text {
    margin-bottom: 20px;
  }
  .cr-about__cards {
    justify-content: space-around;
  }
  .cr-service {
    padding: 20px 0 0 0;
    &__title {
      margin-bottom: 20px;
    }
  }
  .cr-service__cards {
    justify-content: space-around;
  }
  .cr-contact__center {
    display: none;
  }
  .cr-contact {
    padding: 20px 0;
  }
  .cr-contact__left {
    text-align: center;
  }
  .cr-contact__left-time {
    display: inline-flex;
    margin: 0 auto 15px auto;
  }
  .cr-gallery {
    padding: 20px 0;
    p {
      margin-bottom: 20px;
    }
  }
  .cr-gallery__card {
    height: 300px;
  }
  .cr-creators {
    padding: 30px 0 0 0;
  }
  .cr-reviews {
    padding: 20px 0;
  }
  .cr-contact__left-title {
    font-size: 32px;
  }
  .cr-quality {
    padding: 30px 0 0 0;
    &__title {
      margin-bottom: 20px;
    }
  }
  .cr-paper {
    padding: 20px 0;
    &__title {
      margin-bottom: 15px;
    }
  }
  .cr-seo {
    padding: 20px 0 0 0;
    &__link {
      margin-bottom: 20px;
    }
  }
  .cr-why {
    padding: 30px 0 0 0;
  }
  .cr-why__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
    img {
      margin: 0 auto 10px auto;
    }
  }
  .cr-footer__logo {
    margin: 0 auto 10px auto;
  }
  .cr-bottom {
    padding: 25px 0 30px 0;
  }
  .cr-bottom__nav {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .cr-reviews__cards .slick-next {
    margin-left: -25px;
  }
  .cr-reviews__cards .slick-prev {
    margin-left: 25px;
  }
  .cr-gallery__cards .slick-next {
    margin-left: -25px;
  }
  .cr-gallery__cards .slick-prev {
    margin-left: 25px;
  }
  .cr-paper__cards .slick-next {
    margin-left: -25px;
  }
  .cr-paper__cards .slick-prev {
    margin-left: 25px;
  }
  .cr-header__mobile {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .cr-droper {
    display: inline-block;
  }
  .cr-nav__this {
    display: none;
    text-align: center;
    li {
      display: block;
    }
  }
  .cr-page {
    padding: 30px 0;
  }
  .cr-page__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .cr-article__image {
    margin-bottom: 20px !important;
  }
  .cr-blog__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }
  .cr-blog {
    padding: 0;
  }
  .cr-blog__card img {
    margin: 0 auto 15px auto;
  }
  .cr-blog__card-title {
    margin-bottom: 15px;
  }
  .cr-portfolio__card {
    margin-bottom: 25px;
  }
  .cr-portfolio__card-image {
    margin-bottom: 10px;
  }
  .cr-portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {}